<!--suppress ALL -->
{% for r in runtimes %}
    <jdk version="2">
        <name value="{{ r.sdk_name }}"/>
        <type value="{{ r.sdk_type }}"/>
        <version value="{{ r.sdk_version }}"/>
        <homePath value="{{ r.sdk_home }}"/>
        <roots>
            <classPath>
                <root type="composite">
                    {% for l in r.sdk_libs %}
                        <root url="file://{{ l }}" type="simple"/>
                    {% endfor %}
                </root>
            </classPath>
            <sourcePath>
                <root type="composite"/>
            </sourcePath>
        </roots>
    </jdk>
{% endfor %}
